@font-face {
<<<<<<< HEAD
  font-family: "Gilroy-Bold";
  src: url("../../fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../../fonts/Gilroy-Regular.ttf");
=======
	font-family: "Gilroy-Bold";
	src: url("../../fonts/Gilroy-Bold.ttf");
}

@font-face {
	font-family: "Gilroy-Regular";
	src: url("../../fonts/Gilroy-Regular.ttf");
>>>>>>> 326aee6c563922706fcf307132f3655f365729f2
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../../fonts/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../../fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../../fonts/Gilroy-Medium.ttf");
}
